/* Style reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, footer, header, hgroup, menu, nav{
    margin:0;
    padding:0;
    border:0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Header & footer styling*/
body{
  background-color:#eee;
}
header,
footer {
	width: 100%;
	background-color: #1D1D1B;
	color: #fff;
	overflow: hidden;
    padding: 10px 0;

}

.home-knop img {
	max-width: 100%;
	height: auto;
	width:40%;
}

.submenu ul li:first-child {
    padding-left: 0;
}

.submenu ul {
    padding: 0;
}

.login {
    max-width: 50%;
}

.login p{
  padding:1em;
  padding-left:0;
}
.logo,
nav {
	margin: auto;
	width: 90%;
}
div.img-container span {
    background-color: lightgreen;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
div.img-container {
    position: relative;
}

nav ul, .submenu ul {
	list-style-type: none;
}

nav ul li, .submenu ul li {
    width: auto;
    display: inline-block;
}

.submenu {
    width: 70%;
    margin: auto;
}

.submenu ul li {
    padding: 0 2em;
}

footer div.container {
    width: 90%;
    margin: auto;
    text-align: center;
}

/* Body styling */

main {
	background-color: #EEE;
}

main.container {
	width: 100%;
	margin: auto;
	background-color: #fff;
}

div.content,div.content-bottom {
	display: flex;
	flex-direction: column;
  justify-content: center;
}

main.container article {
	width: 100%;
	padding:1em;
}

.content article img {
	max-width: 100%
}

.favoriet {
  cursor:pointer;
  background:#fff;
  border-radius:50%;
  display:inline-block;
  color:#aaa;
  font-size:30px;
}

.favoriet:hover {
  color:#666;
}

.favoriet.press {
  animation: size .4s;
  color:#e23b3b;
}

main.container div {
    width: fit-content;
    margin: auto;
    padding: 1em 0;
}
input {
    padding: .5em .5em;
    background-color: white;
    color: black;
    padding: .5em .5em;
    text-decoration: none;
    text-transform: uppercase;
    cursor: default;
    border: 1px solid black;
    width: 100%;
    display: inline-block;
}

main.container article div {
    padding: 0;
}
main.container article div.fav {
    padding: 0;
}

a.btn {
    background-color: white;
    color: black;
    padding: .5em .5em;
    text-decoration: none;
    text-transform: uppercase;
    cursor: default;
    border: 1px solid black;
    width: 100%;
    display: inline-block;
    text-align: center;
}

div h2 {
    width: 96%;
}

.content-bottom article.trending{
  width:10em;
  padding:1em;
}

div.content-bottom article.trending img {
    width: 100%;
}

nav ul li a img {
    width: 15px;
    padding: 0 0.3em;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
 header .container,
	footer .container {
		width: 90%;
		margin: auto;
		display: flex;
		flex-direction: row;
	}
	.logo,
	nav {
		margin: auto;
	}
	nav ul {
		float: right;
	}
	main.container {
		width: 90%;
	}
	div.content, div.content-bottom {
		flex-direction: row;
        flex-wrap: wrap;
	}
	main.container article {
		width: 45%;
	}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
	main.container article {
		width: 29%;
	}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
 	header .container,
	footer .container,
	main.container{
		width: 70%;
	}
}